<!-- Google tag (gtag.js) -->
{{ $ga4ID := .Site.Params.analytics.ga4id | default .Site.Params.ga4id | default "G-FFXPSXJQQ6" }}
{{ with $ga4ID }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
{{ end }}

<!-- Cloudflare Web Analytics -->
{{ $cfToken := .Site.Params.analytics.cloudflaretoken | default "e1dfe4ba4aed4e338df20cb5f5171640" }}
{{ with $cfToken }}
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ . }}"}'></script>
{{ end }}
